################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ms-SQL-Roll-Use-Monthly-Partitions-Helper/v16/.suo
